<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Cucumber.CucumberExpressions" publicKeyToken="null" />
        <codeBase version="16.0.0.0" href="lib/net6.0/Cucumber.CucumberExpressions.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
